<div class="container">
    <div class="row">
        <div style="background-color:white;" class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Paragragh</h1>
              <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
          </div>


          <button routerLink="/login" type="button" class="btn btn-primary btn-sm btn-block"><b>sign in</b></button>

    </div>
</div>